/*

seletor {
    propriedade: valor;
    propriedade: valor;
}

#id 

.class 

*/

body {
    font-family: "open sans", sans-serif; 
}

section#top {
    background-color: #2a7ae4;
    height: 31em;

}

section#navbar {
    background-color: black; 
}

.bg-top {
    background-image: url("../imagens/bg-top.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
